<!DOCTYPE html>
<html lang="de">
<head>
    <title>KFZ-Kennzeichen-Abfrage: Ergebnis</title>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../stil_definitionen.css">
</head>
<body>

    <h1>KFZ-Kennzeichen-Abfrage: Ergebnis</h1>

    <p th:text="${nachricht}"></p>
    <br>

    <div th:if="${kennzeichenEntity != null}">
        <p>
            <span class="fett">Halter: </span>
            <span th:text="${kennzeichenEntity.getFahrzeugHalter()}"></span>.
        </p>
        <p>
            <span class="fett">Fahrzeug: </span>
            <span th:text="${kennzeichenEntity.getFahrzeugDaten()}"></span>.
        </p>
    </div>
    <br><br>

    <a href="/abfrage-kfzkennzeichen.html">Weitere Abfrage</a>

</body>